.container {
    width: 40vw;
    /* padding: 8vw; */
    padding-top: 2vh;
    display: flex;
    padding-left: 15vw;
    height: 100vh;
    flex-direction: column;
    /* background-color: antiquewhite; */
    
}

.h2{
    font-family: Open Sans;
font-size: 22px;
font-weight: 600;
line-height: 29.96px;


    color: black;
    margin-bottom: 2rem;
    /* margin-left: 50px; */
    margin-top: 20px;
}

.input{
    width: 25rem;
    height: 8vh;
    border-radius: 0.5rem;    
    margin-bottom: 1rem;
    padding-left:1rem;
    border: 1.38px solid #D0D0D0;
}

.button{
    background-color: #17A2B8;
    height: 8vh;
    border-radius: 2rem;
    width: 25rem;
    margin-top: 1rem;
    color: #FFFFFF;
    border: none !important;
    cursor: pointer;  
}

.footer{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 19.29px;
    line-height: 26.28px;
    color: #828282;
    align-self: center;
    margin-left: 30%;
}

.underline{
    color: #17A2B8;
    width: 25rem;
    height: 10vh;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 2px solid #17A2B8; 
    outline: none;
    cursor: pointer;  
}